<link rel="stylesheet" href="app.component.css">

<div class="everything">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="home">Erastus Murungi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" routerLinkActive="active">

          <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="misc">Misc</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="outer">
  <div class="middle">
    <div class="inner">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
